.bg-auto { background-size: auto; }
.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }

.bg-repeat { background-repeat: repeat; }
.bg-no-repeat { background-repeat: no-repeat; }
.bg-repeat-x { background-repeat: repeat-x; }
.bg-repeat-y { background-repeat: repeat-y; }
.bg-repeat-round { background-repeat: round; }
.bg-repeat-space { background-repeat: space; }

.bg-bottom { background-position: bottom; }
.bg-center { background-position: center; }
.bg-left { background-position: left; }
.bg-left-bottom { background-position: left bottom; }
.bg-left-top { background-position: left top; }
.bg-right { background-position: right; }
.bg-right-bottom { background-position: right bottom; }
.bg-right-top { background-position: right top; }
.bg-top { background-position: top; }

.bg-gray-100 {
    background-color: #f4f5f7;
}

.grid {
    display: grid;
}

.gap-1 {
    grid-gap: 0.25rem;
    gap: 0.25rem;
}

.space-y-1>:not(template)~:not(template){
    --space-y-reverse: 0;
    margin-top: calc(0.25rem * (1 - var(--space-y-reverse)));
    margin-bottom: calc(0.25rem*var(--space-y-reverse))}
