.btn {
    display: inline-flex !important;
    align-items: center !important;
    padding: 0.5rem 1rem !important;
    border-width: 1px !important;
    border-color: transparent !important;
    border-radius: 0.375rem !important;
    font-weight: 600 !important;
    font-size: 0.75rem !important;
    letter-spacing: 0.1em !important;
    text-transform: uppercase !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 150ms !important;

    &:focus {
        outline: 0 !important;
    }
}
.btn-light {
    background-color: #ffffff !important;
    border-color: #d2d6dc !important;
    color: #374151 !important;

    &:hover {
        color: #6b7280 !important;
    }

    &:focus {
        border-color: #a4cafe !important;
        box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45) !important;
    }

    &:active {
        color: #252f3f !important;
        background-color: #f9fafb !important;
    }
}

.btn-danger {
    background-color: #e02424 !important;
    color: #ffffff !important;

    &:hover {
        background-color: #f05252 !important;
        color: #ffffff !important;
    }

    &:focus {
        border-color: #c81e1e !important;
        box-shadow: 0 0 0 3px rgba(248, 180, 180, 0.45) !important;
    }

    &:active {
        background-color: #e02424 !important;
    }
}

.btn-dark {
    background-color: #252f3f !important;
    color: #ffffff !important;

    &:hover {
        background-color: #374151 !important;
    }

    &:focus {
        border-color: #161e2e !important;
        box-shadow: 0 0 0 3px rgba(159, 166, 178, 0.45) !important;
    }

    &:active {
        background-color: #161e2e !important;
    }

    &:disabled {
        opacity: 0.25 !important;
    }
}
